<a href="https://colab.research.google.com/github/abhijit-z/1st-Python-project/blob/main/Clubbing_tweet_files_Weekly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Clubbing the daily tweet files into weekly files

In [ ]:
import pandas as pd
import numpy as np
import glob
from datetime import datetime
import os
import re
import string
import nltk

from collections import Counter
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

import seaborn as sns
import matplotlib.pyplot as plt

from datetime import datetime
from datetime import timedelta
from datetime import date

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from datetime import timedelta
from datetime import date
today = date.today()
print(today)

next_day = today + timedelta(days=7)
print(next_day)

2022-05-20
2022-05-27

In [ ]:
path2 = "/content/drive/MyDrive/Omicron Tweet Analytics project/Filter3_res/Only_ind_tweets/df_ind_tweets_11222021.csv"
dfxv = pd.read_csv(path2, engine= 'python')
dfxv = dfxv.head(0)
dfxv

Empty DataFrame
Columns: [Unnamed: 0, user_id, created_at, id, text]
Index: []

In [ ]:
from datetime import datetime
from datetime import timedelta
from datetime import date
s=1
date1 = '2021-11-21'
date2 = '2022-01-31'
#date2 = '2022-01-31'

date1 = datetime.strptime(date1, '%Y-%m-%d')
date2 = datetime.strptime(date2, '%Y-%m-%d')

#for date1 in pd.date_range(date1, date2, freq='d')
#d2 = date1 + timedelta(days=7)

d1 = date1
d2 = d1 + timedelta(days=6)
for x in pd.date_range(date1, date2, freq='W'):
  dfx=dfxv
  for d in pd.date_range(d1, d2, freq='d'):
    d_str = d.strftime("%m%d%Y")
    x1 = d1.strftime("%b_%d_%y")
    x2 = d2.strftime("%b_%d_%y")
    rng = x1 + "to" + x2
    print(rng)

    #print(d_str)
    path = "/content/drive/MyDrive/Omicron Tweet Analytics project/Filter3_res/Only_ind_tweets/df_ind_tweets_" + d_str + ".csv"
    isExist = os.path.exists(path)
    if isExist:
      df = pd.read_csv(path, engine= 'python')
      print(df.shape)
      dfx = pd.concat([dfx, df], ignore_index=True)
    else:
      print("file does not exist")
  print("\n")
  d1 = d + timedelta(days=1)
  d2 = d1 + timedelta(days=6)
  
  path2 = "/content/drive/MyDrive/Omicron Tweet Analytics project/Filter4_res/Weekly_Club/"

  #os.makedirs(path, exist_ok=False)
  isExist = os.path.exists(path2)
  if not isExist:
  
    # Create a new directory because it does not exist 
    os.makedirs(path2)
    print("The new directory is created!")
  dest_path = "/content/drive/MyDrive/Omicron Tweet Analytics project/Filter4_res/Weekly_Club/Week_" + rng + ".csv"
  dest_path2 = "/content/drive/MyDrive/Omicron Tweet Analytics project/Filter4_res/Weekly_Club/Week_" + str(s) + ".csv"
  dfx.to_csv(dest_path, index = False)
  dfx.to_csv(dest_path2, index = False)
  s=s+1

'''
date2 = 
for d in pd.date_range(date1, , freq='d'):
  print(d)
  for i in range(1,8):
    print(i)
    '''

Nov_21_21toNov_27_21
(41821, 5)
Nov_21_21toNov_27_21
(51431, 5)
Nov_21_21toNov_27_21
(47425, 5)
Nov_21_21toNov_27_21
(49540, 5)
Nov_21_21toNov_27_21
(41828, 5)
Nov_21_21toNov_27_21
(91051, 5)
Nov_21_21toNov_27_21
(74326, 5)


The new directory is created!
Nov_28_21toDec_04_21
(68550, 5)
Nov_28_21toDec_04_21
(72610, 5)
Nov_28_21toDec_04_21
(76130, 5)
Nov_28_21toDec_04_21
(87132, 5)
Nov_28_21toDec_04_21
(88361, 5)
Nov_28_21toDec_04_21
(67463, 5)
Nov_28_21toDec_04_21
(50969, 5)


Dec_05_21toDec_11_21
(51006, 5)
Dec_05_21toDec_11_21
(68544, 5)
Dec_05_21toDec_11_21
(58274, 5)
Dec_05_21toDec_11_21
(75206, 5)
Dec_05_21toDec_11_21
(65730, 5)
Dec_05_21toDec_11_21
(52866, 5)
Dec_05_21toDec_11_21
(34580, 5)


Dec_12_21toDec_18_21
(51692, 5)
Dec_12_21toDec_18_21
(68286, 5)
Dec_12_21toDec_18_21
(84545, 5)
Dec_12_21toDec_18_21
(88793, 5)
Dec_12_21toDec_18_21
(84913, 5)
Dec_12_21toDec_18_21
(90502, 5)
Dec_12_21toDec_18_21
(80373, 5)


Dec_19_21toDec_25_21
(73142, 5)
Dec_19_21toDec_25_21
(95113, 5)
Dec_19_21toDec_25_21
(94807, 5)
Dec_19_21toDec_25_21
(57726, 5)
Dec_19_21toDec_25_21
(87956, 5)
Dec_19_21toDec_25_21
(191801, 5)
Dec_19_21toDec_25_21
(48819, 5)


Dec_26_21toJan_01_22
(55885, 5)
Dec_26_21toJan_01_22
(84928, 5)
Dec_26_21toJan_01_22
(96158, 5)
Dec_26_21toJan_01_22
(98598, 5)
Dec_26_21toJan_01_22
(109128, 5)
Dec_26_21toJan_01_22
(83000, 5)
Dec_26_21toJan_01_22
(65026, 5)


Jan_02_22toJan_08_22
(77754, 5)
Jan_02_22toJan_08_22
(91005, 5)
Jan_02_22toJan_08_22
(107548, 5)
Jan_02_22toJan_08_22
(101511, 5)
Jan_02_22toJan_08_22
(65744, 5)
Jan_02_22toJan_08_22
(110075, 5)
Jan_02_22toJan_08_22
(85381, 5)


Jan_09_22toJan_15_22
(79116, 5)
Jan_09_22toJan_15_22
(94092, 5)
Jan_09_22toJan_15_22
(97556, 5)
Jan_09_22toJan_15_22
(95648, 5)
Jan_09_22toJan_15_22
(96954, 5)
Jan_09_22toJan_15_22
(81494, 5)
Jan_09_22toJan_15_22
(61422, 5)


Jan_16_22toJan_22_22
(55246, 5)
Jan_16_22toJan_22_22
(61611, 5)
Jan_16_22toJan_22_22
(77750, 5)
Jan_16_22toJan_22_22
(77347, 5)
Jan_16_22toJan_22_22
(59711, 5)
Jan_16_22toJan_22_22
(63429, 5)
Jan_16_22toJan_22_22
(52645, 5)


Jan_23_22toJan_29_22
(49311, 5)
Jan_23_22toJan_29_22
(66311, 5)
Jan_23_22toJan_29_22
(65329, 5)
Jan_23_22toJan_29_22
(58322, 5)
Jan_23_22toJan_29_22
(63791, 5)
Jan_23_22toJan_29_22
(60342, 5)
Jan_23_22toJan_29_22
(47478, 5)


Jan_30_22toFeb_05_22
(44366, 5)
Jan_30_22toFeb_05_22
(66046, 5)
Jan_30_22toFeb_05_22
file does not exist
Jan_30_22toFeb_05_22
file does not exist
Jan_30_22toFeb_05_22
file does not exist
Jan_30_22toFeb_05_22
file does not exist
Jan_30_22toFeb_05_22
file does not exist

"\ndate2 = \nfor d in pd.date_range(date1, , freq='d'):\n  print(d)\n  for i in range(1,8):\n    print(i)\n    "

In [ ]:
dfxv.shape

(0, 5)

In [ ]:
print(dfx.shape)
dfxv.head()

(110412, 5)

Empty DataFrame
Columns: [Unnamed: 0, user_id, created_at, id, text]
Index: []

In [ ]:
'''
date1 = '2021-11-21'
date2 = '2021-11-27'
x=0
for d in pd.date_range(date1, date2, freq='d'):
  d_str = d.strftime("%m%d%Y")
  #print(d_str)
  path = "/content/drive/MyDrive/IDS 506 Healthcare Analytics/506 Project/Only_individual_tweet_files/df_ind_tweets_" + d_str + ".csv"
  df1 = pd.read_csv(path, engine= 'python')
  print(df1.shape)
  x = x + df1.shape[0]
print(x)
'''

'\ndate1 = \'2021-11-21\'\ndate2 = \'2021-11-27\'\nx=0\nfor d in pd.date_range(date1, date2, freq=\'d\'):\n  d_str = d.strftime("%m%d%Y")\n  #print(d_str)\n  path = "/content/drive/MyDrive/IDS 506 Healthcare Analytics/506 Project/Only_individual_tweet_files/df_ind_tweets_" + d_str + ".csv"\n  df1 = pd.read_csv(path, engine= \'python\')\n  print(df1.shape)\n  x = x + df1.shape[0]\nprint(x)\n'

In [ ]:
'''
path2 = "/content/drive/MyDrive/IDS 506 Healthcare Analytics/506 Project/Only_individual_tweet_files/df_ind_tweets_02012022.csv"
isExist = os.path.exists(path2)
if isExist:
  print("exists")
else:
  print("not exists")
'''

'\npath2 = "/content/drive/MyDrive/IDS 506 Healthcare Analytics/506 Project/Only_individual_tweet_files/df_ind_tweets_02012022.csv"\nisExist = os.path.exists(path2)\nif isExist:\n  print("exists")\nelse:\n  print("not exists")\n'